<script>
  function initMapAutocomplete() {
    var formId = "{{ form_view.vars['id'] }}";

    var userInput = /** @type {!HTMLInputElement} */(document.getElementById(formId +'_autocomplete'));

    var inputName              = document.getElementById(formId +'_name');
    var inputAddressComponents = document.getElementById(formId +'_address_components');
    var inputAddressLatLong = document.getElementById(formId +'_latLong');

    var autocomplete = new google.maps.places.Autocomplete(userInput);
    var placeService = new google.maps.places.PlacesService(userInput);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();

      inputName.value              = place.name;
      $('#appbundle_location_name').val(place.name);
      inputAddressComponents.value = JSON.stringify(place.address_components);


      var lat = place.geometry.location.lat();
      var long = place.geometry.location.lng();
      inputAddressLatLong.value = lat+':'+long;

      // try to clean name
      if(place.place_id) {
        placeService.getDetails({placeId: place.place_id}, function (result) {
          inputName = result.name;
        });


          var myLatLng = {lat: lat, lng: long};
          var ll  = new google.maps.LatLng(lat, long);

          var map = new google.maps.Map(document.getElementById('appbundle_location_map'), {
              zoom: 15,
              center: myLatLng
          });

          var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              draggable: true,
              title: place.name
          });


          google.maps.event.addListener(marker, 'dragend', function(ev){
              inputAddressLatLong.value = marker.getPosition().lat()+':'+marker.getPosition().lng();
          });
      }


        $('.full_width').removeClass('col-lg-12').addClass('col-lg-4');
        $('#appbundle_location_map').show();

        $('.step1').hide();
        $('.location_details').show();
	    $('.location_facilities').show();
        $('.minimise').addClass('location_details_main');
    });
  }
</script>

